attached_assets/Pasted--nodes-parameters-httpMethod-POST-path-get-all-co-1752835644856_1752835644856.txt
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-all-conversations",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1560,
        1400
      ],
      "id": "9de6c68a-ccf4-4be9-92f8-89bd4d6ac9c0",
      "name": "Get All Conversations",
      "webhookId": "cf65298a-c8c5-4eac-8ed8-4d801ab92e14"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id AS conversation_id,\n  name AS title,\n  created_at,\n  ended_at\nFROM conversations\nWHERE session_id = {{ $json.session_id }}\nORDER BY started_at DESC;",
        "options": {
          "queryReplacement": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1320,
        1400
      ],
      "id": "927f0a3a-b469-4465-8d2a-c93152fa6bff",
      "name": "Get All Conversations from DB",
      "credentials": {
        "postgres": {
          "id": "Jc2co9tl3jbXLNeG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1100,
        1400
      ],
      "id": "e34e8302-d078-4ae0-a4ba-0e655e8bbeff",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Get All Conversations": {
      "main": [
        [
          {
            "node": "Get All Conversations from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Conversations from DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4004a46fb0ea6cf9e1ebfd94bddadb20b9a6fd96d56937adf96616bf737240f5"
  }
}